{
  "*.{js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "vue-tsc-files --noEmit", "prettier --write"],
  "*.{css,scss,sass,less,styl}": ["stylelint --fix", "prettier --write"],
  "*.{json,yaml,yml,md}": ["prettier --write"],
  "*.{vue}": [
    "eslint --fix",
    "stylelint --fix",
    "vue-tsc-files --noEmit",
    "prettier --write"
  ]
}
