{
  "*.{js,jsx}": ["s-prettier"],
  "*.{ts,tsx}": ["s-vue-tsc-files --noEmit", "s-prettier"],
  "*.{css,scss,sass,less,styl}": ["stylelint --fix", "s-prettier"],
  "*.{json,yaml,yml,md}": ["s-prettier"],
  "*.{vue}": ["stylelint --fix", "s-vue-tsc-files --noEmit", "s-prettier"]
}
