{
  "extends": ["@dongjiang-recruitment/eslint-config/vue", ".eslintrc.auto"],
  "parserOptions": {
    "project": ["./tsconfig.json", "./tsconfig.config.json"]
  },
  "rules": {
    "vue/multi-word-component-names": "off"
  },
  "globals": {
    "uni": "readonly",
    "InstanceType": "readonly"
  }
}
